# Copy to secret.env and fill. Do NOT commit secret.env.
# kubectl -n nexatech create secret generic nexatech-secrets --from-env-file=./secret.env

jwt-access-secret=REPLACE_MIN_32_CHARS_ACCESS_SECRET_HERE_XXXX
jwt-refresh-secret=REPLACE_MIN_32_CHARS_REFRESH_SECRET_HERE_XXX
admin-session-secret=REPLACE_MIN_16_CHARS

identity-database-url=postgresql://nexatech_identity:PASSWORD@192.168.3.50:5432/nexatech_identity?sslmode=prefer
customer-database-url=postgresql://nexatech_customer:PASSWORD@192.168.3.50:5432/nexatech_customer?sslmode=prefer
catalog-database-url=postgresql://nexatech_catalog:PASSWORD@192.168.3.50:5432/nexatech_catalog?sslmode=prefer
media-database-url=postgresql://nexatech_media:PASSWORD@192.168.3.50:5432/nexatech_media?sslmode=prefer
inventory-database-url=postgresql://nexatech_inventory:PASSWORD@192.168.3.50:5432/nexatech_inventory?sslmode=prefer
cart-database-url=postgresql://nexatech_cart:PASSWORD@192.168.3.50:5432/nexatech_cart?sslmode=prefer
order-database-url=postgresql://nexatech_order:PASSWORD@192.168.3.50:5432/nexatech_order?sslmode=prefer
payment-database-url=postgresql://nexatech_payment:PASSWORD@192.168.3.50:5432/nexatech_payment?sslmode=prefer
shipping-database-url=postgresql://nexatech_shipping:PASSWORD@192.168.3.50:5432/nexatech_shipping?sslmode=prefer
review-database-url=postgresql://nexatech_review:PASSWORD@192.168.3.50:5432/nexatech_review?sslmode=prefer
warranty-database-url=postgresql://nexatech_warranty:PASSWORD@192.168.3.50:5432/nexatech_warranty?sslmode=prefer
support-database-url=postgresql://nexatech_support:PASSWORD@192.168.3.50:5432/nexatech_support?sslmode=prefer
notification-database-url=postgresql://nexatech_notification:PASSWORD@192.168.3.50:5432/nexatech_notification?sslmode=prefer
reporting-database-url=postgresql://nexatech_reporting:PASSWORD@192.168.3.50:5432/nexatech_reporting?sslmode=prefer

redis-url=redis://nexatech-redis:6379
rabbitmq-url=amqp://nexatech:CHANGE_ME@nexatech-rabbitmq:5672
rabbitmq-user=nexatech
rabbitmq-password=CHANGE_ME
minio-access-key=CHANGE_ME
minio-secret-key=CHANGE_ME

google-oauth-client-id=
google-oauth-client-secret=
smtp-host=
smtp-port=587
smtp-user=
smtp-password=
smtp-from=noreply@example.com
vnpay-tmn-code=
vnpay-hash-secret=
vnpay-url=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
vnpay-return-url=
ghn-token=
ghn-shop-id=
ghn-base-url=
app-base-url=http://192.168.4.204
admin-base-url=http://192.168.4.204:3100
